* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
}

.content {
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2rem;
    color: #444;
    margin-bottom: 1rem;
}

p {
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

strong {
    font-weight: bold;
}

ul {
    list-style-type: none;
}

ul li {
    font-size: 1rem;
    margin: 0.5rem 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

img.actress-image {
    width: 100px;
    height: auto;
    display: block;
    margin: 1rem 0;
    border-radius: 8px;
}

.trilho {
    width: 350px;
    height: 150px;
    background-color: #4d4d4d;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
}

.trilho .indicador {
    width: 150px;
    height: 150px;
    background-color: #000;
    border-radius: 50%;
    transform: scale(.9);
    position: absolute;

}

.trilho.dark .indicador{
    left: 200px;
}